/* Advertisement CSS */
.advertisement {
  background-color: #effff4;
}

.advertisement--link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #39ad5b;
  padding: 12px 16px;
  gap: 4px;
}

.advertisement-content {
  font-size: 1.2rem;
  font-weight: 600;
}

.advertisement--img {
  max-width: 79px;
}

/* End Advertisement CSS */

/* Header CSS */

.header {
  padding: 8px 0px;
  background-color: white;
}

.header__logo {
  text-align: center;
}

.header__logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.header__logo-img {
  width: 96px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__actions {
  justify-content: space-between;
}

.header__actions-search {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__actions-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.header__logo-text {
  font-size: 1.4rem;
  color: rgb(0, 62, 161);
  font-weight: 600;
  padding-top: 8px;
}

.header__search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(221, 221, 227);
  border-radius: 10px;
  width: 105%;
}

.header__search-img {
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.header__search-input {
  width: 85%;
  font-size: 1.4rem;
  border: none;
  outline: none;
  padding-left: 6px;
}

.header__search-button {
  padding: 12px 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(10, 104, 255);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  white-space: nowrap;
}

.header__search-button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  height: 25px;
  width: 1px;
  background-color: rgba(128, 128, 137, 0.6);
}

.header__search-button:hover {
  background-color: rgba(10, 104, 255, 0.2);
}

.header__search-suggestions {
  height: 50%;
}

.header__search-list {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 12px;
  font-size: 1.2rem;
}

.header__search-link {
  text-decoration: none;
  color: rgb(128, 128, 137);
  font-weight: 500;
}


.header__account {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__info-link,
.header__cart-link {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  color: rgb(128, 128, 137);
  border-radius: 4px;
  position: relative;
}

.header__cart-link--separate::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 2px;
  background-color: rgb(235, 235, 240);
  left: 0px;
  top: 10px;
}

.header__info-link:hover {
  background-color: rgba(39, 39, 42, 0.12);
}

.header__info-link--actice,
.header__cart-link--actice {
  color: rgb(10, 104, 255);
}

.header__info-link--actice:hover,
.header__cart-link--actice:hover {
  background-color: rgba(0, 96, 255, 0.12);
}

.header__info-img {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.header__info-text {
  font-size: 1.4rem;
}

.header__info {
  display: flex;
}

.header__cart-quantity {
  color: rgb(255, 255, 255);
  background: rgb(255, 66, 79);
  height: 16px;
  right: 10px;
  top: -4px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  position: absolute;
  padding: 0.5px 4px;
}

.header__delivery {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.header__delivery-link {
  display: block;
  text-decoration: none;
  color: #808089;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
}

.header__delivery-icon {
  font-size: 1.8rem;
  margin-right: 4px;
  color: #808089;
}

.header__delivery-addres {
  margin-left: 2px;
  text-decoration: underline;
  color: black;
}

/* End Header CSS */

/* Commitment CSS */
.commitment {
  padding: 12px;
  border-top: 1px solid rgb(235, 235, 240);
  border-bottom: 1px solid rgb(235, 235, 240);
}

.commitment__warpper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 12px;
}

.commitment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.commitment__item-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #27272A;
  position: relative;
}

.commitment__item-link--separate::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  background-color: rgb(235, 235, 240);
  top: 0;
  right: -15px;
}

.commitment__item-img {
  width: 20px;
  height: 20px;
}


.commitment__content {
  color: #003EA1;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 16px;
  white-space: nowrap;
}

.commitment__item-text {
  font-size: 1.2rem;
  color: #27272A;
  white-space: nowrap;
  font-weight: 500;
}

/* End Commitment CSS */


/* Main CSS */
.main {
  background-color: #f5f5fa;
}

.main__container {
  padding-top: 16px;
}

.categories {
  position: sticky;
  top: 20px;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 100px;
}

categories::-webkit-scrollbar {
  display: none;
}

.category {
  padding: 12px 8px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;
}

.category__heading {
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(39, 39, 42);
  margin-bottom: 8px;
  padding-left: 16px;
}

.category__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.category__item-link {
  display: flex;
  padding: 7px 16px;
  align-items: center;
  text-decoration: none;
  color: rgb(39, 39, 42);
  font-size: 1.4rem;
  font-weight: 400;
  gap: 4px;
  border-radius: 8px;
}

.category__item-link:hover {
  background-color: rgba(39, 39, 42, 0.12);
}

.category__item-content {
  text-transform: capitalize;
}

.category__item-img {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* End Main CSS */

/* Home Content Css */
.home__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slideshow {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.slideshow__wrapper {
  overflow: hidden;
  position: relative;
}

.slideshow__list {
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.slideshow__wrapper:hover .slideshow__action {
  display: flex;
}

.slideshow__item {
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.slideshow__item-link {
  width: 50%;
}

.slideshow__item--img {
  background-size: cover;
  width: 100%;
  border-radius: 8px;
}

.slideshow__action {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
  display: none;
}

.slideshow__action-icon {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.pagation {
  text-align: center;
}

.pagation__dot {
  cursor: pointer;
  height: 2px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.pagation__dot--active {
  width: 30px;
  background-color: var(--primary-color);
}


.top__deal {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

.top__deal-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.top__deal-item {
  list-style: none;
  padding: 10px 0px;
  border-radius: 8px;
}

.top__deal-item:hover {
  background-color: rgba(39, 39, 42, 0.12);
}


.top__deal-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 100px;
}

.top__deal-img {
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.top__deal-item:first-child .top__deal-text {
  color: red;
}


.top__deal-text {
  font-size: 1.4rem;
  padding-top: 10px;
  max-width: 100px;
  white-space: wrap;
  color: rgb(39, 39, 42);
  font-weight: 400;
  text-transform: capitalize;
}

.top__cheap {
  background-color: white;
  border-radius: 8px;
}

.top__cheap-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}


.top__cheap-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__cheap-logo {
  max-width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.top__cheap-all {
  text-decoration: none;
  color: rgb(10, 104, 255);
  font-weight: 500;
  font-size: 1.4rem;
}

.top__cheap-wrapper {
  overflow: hidden;
  position: relative;
}

.top__cheap-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  transition: 0.5s ease;
  gap: 8px;
}

.top__cheap-item {
  border: 1px solid rgb(235, 235, 240);
  border-radius: 8px;
  flex-shrink: 0;
  width: calc(100% / 6 - 8px);
}

.top__cheap-item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}

.top__cheap-item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  opacity: 0.95;
}

.top__cheap-item-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top__cheap-item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 176px;
}

.top__cheap-item-date {
  position: absolute;
  top: 6px;
  left: 10px;
  background-color: rgb(217, 56, 67);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-size: 1rem;
  font-weight: 300;
  padding: 2px 4px;
  border-radius: 8px;
}

.top__cheap-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
  padding: 0 8px;
}

.top__cheap-item-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.top__cheap-item-content {
  font-size: 1.2rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  color: #27272a;
  height: calc(1.2em * 2);
}

.top__cheap-item-price--nondiscounted {
  color: rgb(39, 39, 42);
  font-size: 1.6rem;
  font-weight: 700;
}

.top__cheap-item-price {
  color: rgb(255, 66, 78);
  font-size: 1.6rem;
  font-weight: 700;
}

.top__cheap-item-discount {
  display: inline-block;
}

.top__cheap-item-discount-percent {
  padding: 0 4px;
  background-color: #f5f5fa;
  border-radius: 8px;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.top__cheap-item-price-discounted {
  color: #808089;
  font-size: 1rem;
  text-decoration: line-through;
}

.top__cheap-item-delivery-date {
  border-top: 1px solid rgb(235, 235, 240);
  padding: 8px 0;
  color: #808089;
}

.top__cheap-btn--left {
  position: absolute;
  left: 1%;
  top: 35%;
  display: none;
}

.top__cheap-btn--right {
  position: absolute;
  right: 1%;
  top: 35%;
}

.top__cheap-btn {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}


.flash__sale-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.flash__sale-heading {
  display: flex;
  justify-content: space-between;
}

.flash__sale-logo {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 66, 78);
  font-weight: 500;
  text-transform: capitalize;
}

.flash__sale-all {
  text-decoration: none;
  color: rgb(10, 104, 255);
  font-weight: 500;
  font-size: 1.4rem;
}

.flash__sale-content {
  padding-top: 12px;
  overflow: hidden;
  position: relative;
}

.flash__sale-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.flash__sale-item {
  width: calc(100% / 6 - 16px);
  flex-shrink: 0;
}

.flash__sale-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 8px;
}

.flash__sale-link:hover .flash__sale-img {
  opacity: 0.95;
}

.flash__sale-img {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.flash__sale-discount {
  position: absolute;
  top: 2%;
  left: 2%;
  color: rgb(255, 66, 78);
  background-color: rgb(255, 219, 222);
  padding: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
}

.flash__sale-price {
  color: rgb(255, 66, 78);
  font-size: 1.6rem;
  font-weight: 500;
}

.flash__sale-sell {
  width: 90%;
  height: 16px;
  background-color: rgb(255, 170, 175);
  border-radius: 10px;
  position: relative;
}

.flash__sale-sell-progress {
  position: absolute;
  background-color: rgb(255, 66, 78);
  height: 100%;
  border-radius: 10px;
}

.flash__sale-sell-quantity {
  color: rgb(255, 255, 255);
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.flash__sale-sell-img {
  position: absolute;
  height: 30px;
  width: 24px;
  top: -10px;
  left: 4px;
}

.flash__sale-btn {
  position: absolute;
  top: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}

.flash__sale-btn--left {
  margin-left: 10px;
  left: 0;
  display: none;
}

.flash__sale-btn--right {
  margin-right: 10px;
  right: 0;
}


.famous__brand {
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%), linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);
}

.famous__brand-text {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 66, 78);
  text-transform: capitalize;
}

.famous__brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

.famous__brand-wrapper {
  padding-top: 16px;
  position: relative;
  overflow: hidden;
}

.famous__brand-link {}

.famous__brand-item {
  flex-shrink: 0;
  width: calc(100% / 6 - 18px);
}

.famous__brand-img {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}


.famous__brand-btn--left {
  position: absolute;
  left: 1%;
  top: 45%;
  display: none;
}

.famous__brand-btn--right {
  position: absolute;
  right: 1%;
  top: 45%;
}

.famous__brand-btn {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}


.promotion {
  background-color: white;
  border-radius: 10px;
}

.promotion__wrapper {
  padding: 16px;
}

.promotion-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 12px;
}

.promotion-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.today__suggestion {
  margin-top: -20px;
}


.today__suggestion-wrapper {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: #f5f5fa;
  z-index: 10;
}

.today__suggestion-wrapper.is-sticky {
  animation: fadeIn ease 1s;
  will-change: opacity, transform;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.today__suggestion-header {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.today__suggestion-heading {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 66, 78);
  padding: 16px;
}


.today__suggestion-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.today__suggestion-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  padding: 14px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 137, 0.12);
  cursor: pointer;
  outline: none;
  background-color: white;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.today__suggestion-item-link:hover {
  background-color: rgba(128, 128, 137, 0.12);
}

.today__suggestion-item-link--active {
  border: none;
  opacity: 1;
  background-color: rgba(0, 96, 255, 0.05);
  border-bottom: 1px solid rgb(10, 104, 255);
}

.today__suggestion-item-link--active:hover {
  background-color: rgba(0, 96, 255, 0.12);
}

.today__suggestion-item-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  height: 44px;
}

.today__suggestion-item-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(128, 128, 137);
  text-transform: capitalize;
}

.today__suggestion-item-text--active {
  color: rgb(10, 104, 255);
}

.today__suggestion-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.today__suggestion-content-item {
  width: calc(100% / 6 - 8px);
}

.today__suggestion-content-item--lager {
  width: calc((100% / 6) * 2 - 8px);
}

.today__suggestion-content-img--lager {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.today__suggestion-content-more--lager {
  position: absolute;
  bottom: 10px;
  left: 20px;
  padding: 4px 10px;
  background-color: white;
  color: #003EA1;
  border-radius: 20px;
  font-size: 1.2rem;
}

.today__suggestion-content-icon--lager {
  padding: 0 6px;
}


.today__suggestion-content-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
  border: 1px solid rgb(235, 235, 240);
  border-radius: 8px;
  background-color: white;
}

.today__suggestion-content-main-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.today__suggestion-content-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 180px;
}

.today__suggestion-content-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 2px 4px;
  background-color: #F5F5FA;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 4px;
}

.today__suggestion-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
  padding: 0 8px;
}

.today__suggestion-content-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}


.today__suggestion-content-name {
  font-size: 1.2rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  color: #27272a;
  height: calc(1.2em* 2);
}

.today__suggestion-content-name-rateting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.today__suggestion-content-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.today__suggestion-content-price {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 66, 78);
}

.today__suggestion-content-price--non-discount {
  color: rgb(39, 39, 42);
}

.today__suggestion-content-price-discounted {
  display: inline-block;
}

.today__suggestion-content-discount {
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  background-color: #f5f5fa;
  padding: 2px 6px;
  border-radius: 8px;
}

.today__suggestion-content-discounted {
  font-size: 1rem;
  color: #808089;
  text-decoration-line: line-through;
  vertical-align: text-bottom;
}

.today__suggestion-content-delivery {
  border-top: 1px solid rgb(235, 235, 240);
  padding: 10px 0;
  color: #808089;
  font-size: 1rem;
}

.today__suggestion-content-see-more {
  margin-top: 12px;
  color: rgb(10, 104, 255);
  text-align: center;
}

.today__suggestion-content-see-more span {
  cursor: pointer;
  display: inline-block;
  width: 240px;
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgb(10, 104, 255);
  color: rgb(10, 104, 255);
  font-size: 16px;
  line-height: 150%;
}

.today__suggestion-content-see-more:hover span {
  background-color: rgba(0, 96, 255, 0.12) !important;
}

/* End Home Content Css */


.today__suggestion-content {
  padding-bottom: 50px;
}


.home__content {
  height: 1000vh;
}
